body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.drum.kit {
  display: flex;
}

.key {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.key kbd {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
}

.sound {
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}
